In [1]:
# loading libraries
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('../data/final_data.csv')
df.head()

       Spend  Administration  Marketing Spend  State     Profit
0  165349.20       136897.80        471784.10      2  192261.83
1  162597.70       151377.59        443898.53      0  191792.06
2  153441.51       101145.55        407934.54      1  191050.39
3  144372.41       118671.85        383199.62      2  182901.99
4  142107.34        91391.77        366168.42      1  166187.94

In [3]:
# multiple features / independent variable
x = df.iloc[:,0:4].values
x.shape

(50, 4)

In [4]:
# target / depenedent variable
y = df.iloc[:,4].values
y.shape

(50,)

## Splitting Data

In [5]:
# Splitting Data
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state= 35)

In [6]:
print(X_train.shape, X_test.shape)

(35, 4) (15, 4)

In [7]:
print(y_train.shape, y_test.shape)

(35,) (15,)

## Linear Regression

In [8]:
lm = LinearRegression()
model = lm.fit(X_train, y_train)

In [9]:
y_pred = model.predict(X_test)
y_pred

array([ 83504.67554508, 111487.46668588, 115512.7981559 ,  97845.55828852,
       102078.88982276,  58927.95526925,  73874.04934116, 131227.67069718,
       103339.40469683, 110416.45817351,  89527.882677  , 173964.75470557,
       130040.24209573,  99776.78580706, 151727.62003554])

In [10]:
# Finding errors and Scores
# Mean Absolute Error
MAE =mean_absolute_error(y_test, y_pred)
print("Mean Absolute Error : ",MAE)

Mean Absolute Error :  5545.723201899777

In [11]:
# Mean Squared Error
MSE =mean_squared_error(y_test, y_pred)
print("Mean Squared Error : ",MSE)

Mean Squared Error :  51137560.474043466

In [12]:
# Root Mean Squared Error
RMSE = np.sqrt(MSE)
print("Root Mean Squared Error : ",RMSE)

Root Mean Squared Error :  7151.05310244886

In [13]:
# Score and R2_Score
print("Score : ", model.score(X_train, y_train))
print("R2 Score : ", r2_score(y_test, y_pred))

Score :  0.9541692462061065
R2 Score :  0.9047562391580222